/.venv
/.idea
/data_preprocessing/5-core_filtered_bgg.csv
/data_collection/bgg_collections.csv
/data_preprocessing/test.csv
/data_preprocessing/train.csv
/data_preprocessing/validation.csv
/utils/game2idx.pkl
/utils/user2idx.pkl
/utils/user_items.pkl
/trained_models/GMF_best_auc.pth
/trained_models/GMF_best_hit10.pth
/utils/config.ini
